# Node environment
NODE_ENV=development

# API port
API_PORT=3000

# Enable debug mode
API_DEBUG=true

# CORS origins separated by comma (optional)
API_CORS_ORIGINS=<domains>

# Redis user
REDIS_URL=redis://:<password>@<host>:<port>/<db_number>

# PostgreSQL: API user
PG_API_URL=postgres://<user>:<password>@<host>:<port>/<database>

# PostgreSQL: Migrations user
PG_MIGRATIONS_URL=postgres://<user>:<password>@<host>:<port>/<database>

# Sentry DSN (optional)
SENTRY_DSN=<url>
